# Ignore the .env file
.env

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore the SQLite database
*.sqlite3

# Ignore static files (if collected)
staticfiles/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore virtual environment
venv/
env/